@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* Custom palette */
  --color-gray-light: #f3f5f8;
  --color-gray-dark: #a0a8b1;
  --color-gray-border-light: #222426;
  --color-purple-light: #5a57cb;
  --color-slate-light: #728096;
  --color-slate-lighter: #95a6b7;
  --font-mono: var(--font-geist-mono);
  --font-open-sans: var(--font-open-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

* {
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  font-family: var(--font-open-sans);
  margin: 0;
  padding: 0;
}
